@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-gray-100 dark:bg-background-dark font-display text-gray-800 dark:text-gray-200; 
}

html,
body,
#root {
  height: 100% !important;
  width: 100% !important;
  margin: 0;
  padding: 0;
}

#root {
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: inherit !important;
}
